.none {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  button {
    background-color: transparent;
    color: rebeccapurple;
    border: transparent;
  }
  .current {
    color: black;
    border: solid 1px rebeccapurple;
  }
}
